.Onboard {
  text-align: center;
  background-color: #dddddd;
  height: 100vh;
}

.Onboard-logo {
  height: 40vmin;
}

.Onboard-header {
  background-color: #282c34;
  height: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Onboard-link {
  color: #09d3ac;
}

.content {
  max-width: 1000px;
  margin: auto;
  background-color: #ffffff;
  height: 100%;
}

.userHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.userImage {
  margin-right: 2em;
}

.onboardForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.formGroup > span {
  margin-right: 1em;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  height: 14em;
  justify-content: space-between;
  align-content: space-between;
}