.camera-container {
    border: 1px dashed #999;
    box-sizing: border-box;
    height: 400px;
    padding: 1px;
    text-align: center;
    width: 400px;
}

.camera-video-container {
    height: 100%;
    margin-bottom: -3px;
    width: 100%;
}

.camera-photo {
    height: 100%;
    width: 100%;
}

.camera-button-container {
    margin-top: 1em;
}

.camera-button-container button {
    width: 100%;
}