.camera-container {
    border: 1px dashed #999;
    box-sizing: border-box;
    height: 400px;
    padding: 1px;
    text-align: center;
    width: 400px;
}

.camera-video-container {
    height: 100%;
    margin-bottom: -3px;
    width: 100%;
}

.camera-photo {
    height: 100%;
    width: 100%;
}

.camera-button {
    background-color: #7FC547;
    border: 0;
    color: #fff;
    height: 40px;
    font-weight: bold;
    margin-top: 1em;
    width: 400px;
}